<section class="how-it-works">
  <main class="main-how-it-works"></main>

  <aside class="aside-how-it-works">
    <h1>How it Works?</h1>
    <ul class="steps">
      <li class="step-1">
        Lorem ipsum dolor, sit amet adipisicing elit. At, ad!
      </li>
      <li class="step-2">Lorem ipsum dolor sit amet lorem.</li>
      <li class="step-3">
        Lorem ipsum dolor sit amet consectetur adipisicing.
      </li>
      <li class="step-4">Lorem ipsum dolor sit amet.</li>
      <li class="step-5">Lorem ipsum, dolor sit amet adipisicing.</li>
    </ul>
    <button class="get-started">Get Started for FREE</button>
  </aside>
</section>
