<section class="team" id="team">
  <h2 class="team-title">Curious about the brains behind the operation?</h2>
  <p class="team-subtitle">Get to know our team better</p>

  <div class="team-members">
    <div class="mihai">
      <img src="../../../assets/images/Mihai-memoji.avif" alt="mihaiAvatar" />
      <div class="mihai-description">
        <p class="mihai-name">Mihai</p>
        <p class="mihai-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
          reprehenderit officia velit unde iste quia cumque error debitis est
          provident distinctio ullam fuga, inventore modi quam rem enim quis
        </p>
      </div>
    </div>

    <div class="andreea">
      <div class="andreea-description">
        <p class="andreea-name">Andreea</p>
        <p class="andreea-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos minima
          blanditiis perferendis maiores illo nobis quae repudiandae, fugiat
          doloremque adipisci. ipsum dolor sit amet consectetur adipisicing
        </p>
      </div>
      <img
        src="../../../assets/images/Andreea-memoji.avif"
        alt="andreeaAvatar"
      />
    </div>
  </div>
</section>
