<section class="team" id="team">
  <h2 class="team-title">Curious about the brains behind the operation?</h2>
  <p class="team-subtitle">Get to know our team better</p>

  <div class="team-members">
    <div class="mihai">
      <img src="../../../assets/images/Mihai-memoji.avif" alt="mihaiAvatar" />
      <div class="mihai-description">
        <p class="mihai-name">Mihai</p>
        <p class="mihai-text">
          Mihai is our tech whiz with over 2 years of experience in the web dev
          world. He like movies but hates wasting time searching for the perfect
          choice on different platforms. That's why he's on a mission to
          simplify things for you. Friendly and always up for new ideas, Mihai
          ensures our app is not only advanced but also incredibly user
          friendly, making movie nights stress free.
        </p>
      </div>
    </div>

    <div class="andreea">
      <div class="andreea-description">
        <p class="andreea-name">Andreea</p>
        <p class="andreea-text">
          Andreea is our creative genius with a passion for design and
          innovation. She's the one who makes sure our app looks as good as it
          works. Despite her background in chemical engineering, Andreea's true
          passion lies in crafting apps, bringing fresh ideas to the table and
          creative touches to our team. She ensures our app is not only
          functional but also visually appealing.
        </p>
      </div>
      <img
        src="../../../assets/images/Andreea-memoji.avif"
        alt="andreeaAvatar"
      />
    </div>
  </div>
</section>
