.team {
  h2.team-title {
    text-align: center;
    font-size: 3.75rem;
    margin-bottom: 0;
    padding: 0 1rem;
  }

  p.team-subtitle {
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark-gray);
    margin: 1.5rem 0 0 0;
  }

  .team-members {
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .mihai {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6rem;

      .mihai-description {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p.mihai-name {
          text-align: center;
          font-size: 2.5rem;
          font-weight: 800;
          margin: 0;
          margin-right: 2rem;
        }

        p.mihai-text {
          width: 90%;
          margin: 1.5rem 0;
          line-height: 2;
          font-weight: 600;
        }
      }

      img {
        background: var(--font-color-secondary);
        width: 25rem;
        height: 25rem;
        border-radius: 20%;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.6);
      }
    }

    .andreea {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6rem;

      .andreea-description {
        width: 50%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p.andreea-name {
          text-align: center;
          font-size: 2.5rem;
          font-weight: 800;
          margin: 0;
          margin-right: 2rem;
        }

        p.andreea-text {
          width: 90%;
          margin: 1.5rem 0;
          line-height: 2;
          font-weight: 600;
        }
      }

      img {
        background: var(--bg-light-red);
        width: 25rem;
        height: 25rem;
        border-radius: 20%;
        box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.6);
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .team {
    .team-members {
      .mihai {
        img {
          width: 20rem;
          height: 20rem;
        }
      }

      .andreea {
        img {
          width: 20rem;
          height: 20rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .team {
    h2.team-title {
      font-size: 3.5rem;
    }

    .team-members {
      .mihai {
        flex-direction: column;
        gap: 0;

        .mihai-description {
          margin-top: 2rem;
          width: 100%;
          p.mihai-name {
            margin-right: 0;
          }
        }
      }

      .andreea {
        flex-direction: column;
        gap: 0;
        flex-direction: column-reverse;

        .andreea-description {
          margin-top: 2rem;
          width: 100%;
          p.andreea-name {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .team {
    h2.team-title {
      font-size: 2rem;
    }
    p.team-subtitle {
      font-size: 1.2rem;
    }

    .team-members {
      padding: 2rem 0.5rem;
      gap: 0;

      .mihai {
        .mihai-description {
          p.mihai-name {
            font-size: 2rem;
          }
        }
      }
      .andreea {
        margin-top: 1.5rem;
        .andreea-description {
          p.andreea-name {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
