.team {
  h1.team-title {
    text-align: center;
    font-size: 3.75rem;
    margin-bottom: 0;
    /* background-image: var(--yellow-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* color: var(--font-color-secondary); */
  }

  p.team-subtitle {
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark-gray);
    margin: 1.5rem 0 0 0;
  }

  .team-members {
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .mihai {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6rem;

      .mihai-description {
        width: 50%;

        p.mihai-name {
          text-align: center;
          font-size: 2.5rem;
          font-weight: 800;
          margin: 0;
        }

        p.mihai-text {
          width: 90%;
          margin: 1.5rem 4rem;
          line-height: 2;
          font-weight: 600;
        }
      }

      img {
        background: var(--font-color-secondary);
        width: 25rem;
        height: 25rem;
        border-radius: 20%;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.6);
      }
    }

    .andreea {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6rem;

      .andreea-description {
        width: 50%;

        p.andreea-name {
          text-align: center;
          font-size: 2.5rem;
          font-weight: 800;
          margin: 0;
        }

        p.andreea-text {
          width: 90%;
          margin: 1.5rem 4rem;
          line-height: 2;
          font-weight: 600;
        }
      }

      img {
        background: var(--bg-light-red);
        width: 25rem;
        height: 25rem;
        border-radius: 20%;
        box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.6);
      }
    }
  }
}
