.auto-complete-container {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 70%;
  width: 20%;

  .p-overlay {
    max-width: 100%;
  }

  &.mobile-search {
    display: none;
  }

  .p-autocomplete {
    width: 100%;
  }

  .p-inputtext {
    background-color: var(--bg-dark);
    border-radius: 50px;
    width: 100%;
    padding: 0.6rem;
    padding-left: 2.2rem;
  }
  .pi-search {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
  }
  .p-autocomplete-item {
    font-family: var(--text-font);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 760px) {
  .auto-complete-container.mobile-search {
    display: block;
    transition: all 0.3s ease;
    .pi-search {
      left: 10%;
      transition: all 0.2s ease;
    }

    &.active {
      width: 90%;
      top: 107%;
      left: 50%;

      .pi-search {
        left: 3%;
      }
    }

    .p-inputtext {
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
    }
    .p-autocomplete-item {
      font-size: 0.9rem;
    }
  }
}

@media screen and (min-width: 760px) {
  .auto-complete-container {
    left: 43%;
    width: 25%;
  }
}

@media screen and (min-width: 1024px) {
  .auto-complete-container {
    left: 50%;
    width: 30%;
  }
}
