@import "./search-input.css";
@import "./tabview.css";
@import "./auto-complete.css";

/* Multiselect */
.p-multiselect {
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border-color: var(--font-color-primary);
  border-radius: 8px;

  .p-multiselect-label {
    color: var(--font-color-primary);
    font-size: 0.9rem;
    padding-left: 1.2em;
    color: var(--font-color-primary);
  }

  .p-multiselect-trigger {
    color: var(--font-color-primary);
  }

  .p-multiselect-header {
    display: none;
  }
}

.p-tabmenu-nav {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: var(--bg-light-red);

  .p-menuitem-link {
    font-weight: 500;
    background: var(--bg-light-red);
    font-size: 1.3rem;
    color: var(--font-color-primary);
    font-family: var(--text-font);
  }
}

/* Chips */
.p-inputtext {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  .p-chips-input-token {
    display: none;
  }
}

/* Toast */
.toastr {
  padding: 0 20px;
}

/* P button */
.p-button .p-button-label {
  font-weight: 600;
}
