<section class="show-genres">
  <!-- Movie swiper -->
  <div class="movie-swiper-container">
    <swiper-container #movieSwiper init="false" pagination-clickable="true">
      @for (genre of $movieGenres(); track genre.id) {
        <swiper-slide>
          <div
            (click)="onGenreSelect(genre)"
            class="genre-btn"
            [class.active]="selectedGenresNames.value?.includes(genre.name)"
          >
            <img [src]="iconBasePath + genre.icon_path" alt="genre-image" />
          </div>
          <span class="genre-name">{{ genre.name }}</span>
        </swiper-slide>
      }
    </swiper-container>

    <div class="swiper-pagination-movie"></div>
  </div>

  <!-- TV Swiper -->
  <div class="tv-swiper-container">
    <swiper-container #tvSwiper init="false" pagination-clickable="true">
      @for (genre of $showGenres(); track genre.id) {
        <swiper-slide>
          <div
            (click)="onGenreSelect(genre)"
            class="genre-btn"
            [class.active]="selectedGenresNames.value?.includes(genre.name)"
          >
            <img [src]="iconBasePath + genre.icon_path" alt="genre-image" />
          </div>
          <span class="genre-name">{{ genre.name }}</span>
        </swiper-slide>
      }
    </swiper-container>

    <div class="swiper-pagination-tv"></div>
  </div>
</section>
<div class="card p-fluid selected-genres">
  <form [formGroup]="genresForm">
    <p-chips
      formControlName="selectedGenresNames"
      (onRemove)="onChipRemove($event)"
    />
  </form>
</div>
