<div class="auth-container content-container">
  <div class="login-card">
    <div class="logo" routerLink="/app">
      <img src="../../../assets/logo-squaree.png" alt="movie picker logo" />
      <span class="app-title">Movie</span>
      <span class="app-title-suffix">Picker</span>
    </div>

    <div class="welcome">
      <p>Welcome! 👋</p>
      <p>Login to get the full experience of our app!</p>
    </div>

    <button (click)="loginWithGoogle()" pRipple class="google-auth">
      <img src="../../../../assets/icons/google-logo.svg" alt="google-logo" />
      Login with Google
    </button>
    <button pRipple class="twitter-auth">
      <img src="../../../../assets/icons/x-logo.svg" alt="twitter-logo" />
      Login with Twitter
    </button>

    <div class="form-separator">
      <div class="line"></div>
      <span>OR</span>
      <div class="line"></div>
    </div>

    <form [formGroup]="form" (ngSubmit)="loginWithEmail()" class="auth-form">
      <div class="form-control">
        <input
          type="email"
          placeholder="Enter your email"
          formControlName="email"
        />
        @if (
          emailFormControl.dirty &&
          emailFormControl.invalid &&
          emailFormControl.touched
        ) {
          <small class="invalid-control">Please enter a valid email!</small>
        }
        <button class="submit-btn" pRipple>Login with Magic Link</button>
      </div>

      @if ($successEmailSent()) {
        <p>{{ $successEmailSent() }}</p>
      }
    </form>
  </div>
</div>
