<section class="footer">
  <div class="sign-up-box">
    <h1 class="sign-up-title">Sign Up Today.</h1>
    <div class="subscription">
      <form class="subscription-form">
        <input class="add-email" type="email" placeholder="subscribe@me.now" />
        <button class="submit-email" type="submit">Subscribe</button>
      </form>
    </div>
  </div>

  <div class="footer-box">
    <div class="content-container">
      <p class="rights">2024 - MoviePicker</p>
      <div class="twitter">
        <i class="bi bi-twitter-x"></i>
        <div class="twitter-name">
          <a href="https://x.com/AndreeaFarcas98" class="name"
            >AndreeaFarcas98</a
          >
          <a href="https://x.com/MihaiSava98" class="name">MihaiSava98</a>
        </div>
      </div>
    </div>
  </div>
</section>
