.footer {
  .sign-up-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;

    h1 {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    .email-sent {
      color: var(--app-green);
      font-weight: 600;
    }
    .invalid-control {
      color: var(--bg-red);
      font-weight: 600;
      display: block;
      margin-top: 1rem;
    }

    .subscription {
      display: flex;
      justify-content: center;

      .subscription-form {
        display: flex;
        gap: 1rem;

        input.add-email {
          padding: 0.75rem 1.5rem;
          background-color: var(--font-color-primary);
          box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
          border-radius: 60px;
          border: none;
          font-size: 1rem;
          color: var(--footer-text-color);

          &::placeholder {
            color: var(--light-gray);
          }
        }

        .submit-email {
          padding: 0.75rem 1.5rem;
          background: var(--yellow-gradient);
          color: white;
          border: none;
          border-radius: 30px;
          cursor: pointer;
          font-size: 1rem;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .footer-box {
    padding: 4rem 2rem;
    background-color: var(--bg-dark);

    .content-container {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }

    .footer-logo {
      display: flex;

      a {
        text-decoration: none;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 8px;
      }
      .app-title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 0.4rem;
        color: var(--font-color-primary);
        p {
          margin: 0;
          font-weight: 500;
          font-size: 1.2rem;
        }
      }
    }

    .footer-navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .links {
        color: var(--font-color-primary);
        font-weight: 600;
        margin-top: 0;
      }

      a {
        margin: 0.5rem 0;
        text-decoration: none;
        color: var(--font-color-primary);

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .credits {
      max-width: 30%;
      display: flex;

      img {
        width: 100px;
        height: 50px;
      }
      p {
        color: var(--light-gray);
        margin: 0;
        margin-left: 0.5rem;
      }
    }

    .social-media {
      .follow-us {
        color: var(--font-color-primary);
        margin-top: 0;

        font-weight: 600;
      }
      .twitter {
        display: flex;
        align-items: center;
        justify-content: center;
        .twitter-name {
          margin-left: 1rem;
          display: flex;
          flex-direction: column;
          line-height: 1.5;

          a.name {
            text-decoration: none;
            color: var(--font-color-primary);
            font-size: 0.9rem;

            &:hover {
              color: var(--font-color-secondary);
            }
          }
        }

        i {
          font-size: 1.5rem;
          color: var(--font-color-primary);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    .sign-up-box {
      h1 {
        font-size: 3.5rem;
      }
    }

    .footer-box {
      padding: 2rem;
      .content-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      .footer-logo {
        margin-bottom: 2rem;
      }

      .footer-navigation {
        margin-bottom: 2rem;
      }

      .social-media {
        margin-bottom: 2rem;
      }

      .credits {
        max-width: 50%;
        margin-bottom: 2rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    .sign-up-box {
      h1 {
        font-size: 2rem;
      }

      .subscription {
        .subscription-form {
          flex-direction: column;
        }
      }
    }

    .footer-box {
      .credits {
        max-width: 50%;
        margin-bottom: 2rem;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
        justify-content: center;

        p {
          margin-top: 1rem;
        }
      }
    }
  }
}
