<div class="search-input-container">
  <p-floatLabel class="float-label">
    <input pInputText id="show" [(ngModel)]="$searchValue" />
    <label for="show"><i class="pi pi-search"></i> Search Show...</label>
  </p-floatLabel>
</div>

<p-dataView
  [value]="$filteredShows()"
  [rows]="$rows()"
  [paginator]="true"
  (onPage)="setImageLoading($event)"
>
  <ng-template pTemplate="list" let-shows>
    @if ($isGetShowsLoading()) {
      @for (row of $rowsArray(); track $index) {
        <p-skeleton class="card-skeleton" />
      }
    } @else {
      @for (show of shows; track show.id) {
        <p-card
          (click)="openShow(show)"
          [header]="show.title || show.name"
          [title]="show.title || show.name"
          class="card"
        >
          <ng-template pTemplate="header">
            <button
              pRipple
              (click)="removeShow($event, show.id)"
              [disabled]="$isGetShowsLoading()"
              class="remove-show"
            >
              @if ($isGetShowsLoading()) {
                <span class="loader"></span>
              } @else {
                <i class="pi pi-times"></i>
              }
            </button>
            <img
              class="show-image"
              alt="show-image"
              [src]="imgBaseUrl + show.poster_path"
              (load)="onImageLoad()"
              [class.loaded]="!$isImgLoading()"
            />
          </ng-template>
        </p-card>
      }
    }
  </ng-template>
</p-dataView>
