<section class="streaming-platforms content-container">
  <!-- <p>Select platforms</p> -->
  <swiper-container #mySwiper init="false" class="overflow-visible">
    @for(platform of streamingPlatforms; track platform.provider_id) {
    <swiper-slide>
      <button class="platform-btn">
        <img
          [src]="imgBaseUrl + platform.logo_path"
          alt="streaming-platform-image"
        />
      </button>
    </swiper-slide>
    }
  </swiper-container>
  <div class="swiper-pagination"></div>
</section>
