<header class="header">
  <div class="header-container">
    <nav class="navbar">
      <div class="logo" [routerLink]="['/']">
        <img src="../../../assets/logo-squaree.png" alt="movie picker logo" />
        <span class="app-title">Movie</span>
        <span class="app-title-suffix">Picker</span>
      </div>

      <div class="desktop-nav">
        <a pRipple class="nav-link-desktop"
          ><i class="bi bi-box-arrow-in-right"></i> Login
        </a>
        <a pRipple class="nav-link-desktop"
          ><i class="bi bi-person"></i> Profile
        </a>
        <a pRipple class="nav-link-desktop">
          <i pRipple class="bi bi-bookmark"></i>
          Bookmarks
        </a>
        <a pRipple class="nav-link-desktop"
          ><i class="bi bi-box-arrow-left"></i> Logout
        </a>
      </div>

      <div class="mobile-nav">
        <input class="checkbox" type="checkbox" />
        <button pRipple class="hamburger">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </button>

        <div class="nav-links">
          <a pRipple class="nav-link login-btn"
            ><i class="bi bi-box-arrow-in-right"></i> Login</a
          >

          <a pRipple class="nav-link"><i class="bi bi-person"></i> Profile</a>
          <a pRipple class="nav-link">
            <i class="bi bi-bookmark"></i> Bookmarks</a
          >

          <a pRipple class="nav-link"
            ><i class="bi bi-box-arrow-left"></i> Logout</a
          >
        </div>
      </div>
    </nav>
    @if (!$isHeadingHidden()) {
      <h1>Enjoy your next favorite film</h1>
    }
  </div>
</header>
