.header {
  background-color: var(--bg-light-red);
  color: var(--font-color-primary);
  letter-spacing: 0.1em;
  position: relative;
  z-index: 5;

  &.hidden {
    display: none;
  }

  &.black-header {
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      background-color: var(--bg-dark);
      z-index: -1;
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 1em;

    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;

      img {
        width: 3.125em;
        height: 3.125em;
        border-radius: 50%;
      }

      .app-title {
        font-size: 1rem;
        margin-left: 0.4em;
        color: var(--font-color-primary);
        font-weight: 900;
      }
      .app-title-suffix {
        font-size: 1rem;
        color: var(--font-color-secondary);
        font-weight: 900;
      }
    }

    .desktop-nav,
    .mobile-nav {
      a {
        letter-spacing: 1px;
        cursor: pointer;
        .bi {
          color: var(--font-color-primary);
        }
      }
    }

    .desktop-nav {
      display: none;
    }

    .mobile-nav {
      position: relative;
      z-index: 7;
      padding: 0;

      .checkbox {
        padding: 0;
        display: block;
        height: 32px;
        width: 32px;
        z-index: 5;
        position: absolute;
        top: -3px;
        right: -1px;
        cursor: pointer;
        opacity: 0;
      }

      .hamburger {
        display: block;
        padding: 0;
        height: 26px;
        width: 32px;
        z-index: 2;
        border: none;
        background-color: transparent;

        .line {
          display: block;
          height: 3px;
          width: 100%;
          border-radius: 10px;
          background: var(--font-color-primary);
        }

        .line1 {
          transform-origin: 0% 0%;
          transition: transform 0.2s ease-in-out;
          margin-left: 1px;
        }

        .line2 {
          margin: 0.5rem 0;
          transition: transform 0.1s ease-in-out;
        }

        .line3 {
          transform-origin: 0% 100%;
          transition: transform 0.2s ease-in-out;
          margin-left: 1px;
        }
      }

      .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--light-dark);
        border-radius: 10px;
        padding: 1rem 1.8rem;
        position: absolute;
        top: 35px;
        right: 0;
        z-index: 5;

        .nav-link {
          margin: 0.5rem 0;
          font-weight: 600;
          text-wrap: nowrap;
          display: flex;
          align-items: center;
          font-size: 0.9rem;
          padding: 0.5rem;
          border-radius: 10px;

          i {
            font-size: 1.4rem;
            margin-right: 0.3rem;

            &.bi-bookmark {
              font-size: 1.3rem;
            }
          }

          &.login-btn {
            background-color: var(--font-color-secondary);
            color: #333;
            padding: 0.6rem 1rem;
            border-radius: 10px;
            margin-bottom: 0.4rem;
            font-weight: 700;

            i {
              color: #333;
            }
          }
        }
      }

      input[type="checkbox"]:checked ~ .nav-links {
        display: flex;
      }

      input[type="checkbox"]:checked ~ .hamburger .line1 {
        transform: rotate(45deg);
        width: 110%;
      }

      input[type="checkbox"]:checked ~ .hamburger .line2 {
        transform: scaleY(0);
      }

      input[type="checkbox"]:checked ~ .hamburger .line3 {
        transform: rotate(-45deg);
        width: 110%;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .header {
    .navbar {
      .logo {
        .app-title,
        .app-title-suffix {
          font-size: 1.2rem;
        }
      }
    }

    h1 {
      font-size: 1.7rem;
      padding-bottom: 0.5rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    .navbar {
      .mobile-nav {
        display: none;
      }
      .desktop-nav {
        display: flex;
        align-items: center;
        justify-content: center;

        .nav-link-desktop {
          font-size: 0.9rem;
          font-weight: 600;
          margin-left: 1.5rem;
          border-radius: 10px;
          padding: 0.5rem;

          &:hover {
            opacity: 0.8;
          }

          i {
            font-size: 1.2rem;
            display: block;
            margin: 0 auto;
            width: fit-content;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
