.trending-text {
  padding: 0 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  font-weight: 600;
  font-size: 1.3rem;
}

.no-shows {
  padding: 0 1.5rem;
}

.swiper-mobile {
  swiper-container {
    width: 240px;
    height: 320px;

    swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;

      .show-image {
        width: 100%;
        height: 100%;

        transform: scale(0.5);
        opacity: 0;
        transition: all 0.3s ease;

        &.loaded {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
}

.swiper-desktop {
  display: none;
  swiper-container {
    width: 100%;
    padding-bottom: 50px;

    swiper-slide {
      background-position: center;
      background-size: cover;
      width: 240px;
      height: 320px;

      .show-image {
        width: 100%;
        height: 100%;
        border-radius: 18px;

        transform: scale(0.5);
        opacity: 0;
        transition: all 0.3s ease;

        &.loaded {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .swiper-mobile {
    display: none;
  }

  .swiper-desktop {
    display: block;
  }
  .trending-text {
    margin: 3rem 0 0 0;
  }
}
