<div class="sub-header-container">
  <div class="content-container">
    <app-platform-list></app-platform-list>
  </div>
  <app-show-type
    ($selectShowTypeOutput)="onSelectShowTypeOutput($event)"
  ></app-show-type>
</div>

<div class="content-container trending-movies">
  <app-show-genres></app-show-genres>

  <app-trending
    [$areTrendingShowsLoading]="$areTrendingShowsLoading()"
    [$trendingShows]="$trendingShows()"
  ></app-trending>

  <button
    pRipple
    (click)="getShows()"
    class="find-show-btn"
    [class.show]="$selectedGenres().length > 0"
  >
    @if ($isGetShowLoading()) {
      <span class="loader"></span>
    } @else {
      Find Top Choice <i class="bi bi-search"></i>
    }
  </button>
</div>
