<div class="sub-header-container">
  <div class="content-container">
    <app-platform-list></app-platform-list>
  </div>
  <app-show-type></app-show-type>
</div>

<div class="content-container trending-movies">
  <app-show-genres></app-show-genres>

  <app-trending></app-trending>

  <button
    pRipple
    (click)="getShows()"
    class="find-show-btn"
    [class.show]="$selectedGenres().length > 0"
  >
    @if ($isGetShowLoading()) {
      <span class="loader"></span>
    } @else {
      Find Top Choice <i class="bi bi-search"></i>
    }
  </button>

  <a
    class="ph-embed"
    href="https://www.producthunt.com/posts/movie-picker?embed=true&utm_source=badge-featured&utm_medium=badge&utm_souce=badge-movie&#0045;picker"
    target="_blank"
    ><img
      src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=468091&theme=light"
      alt="Movie&#0032;Picker - Find&#0032;a&#0032;movie&#0032;to&#0032;watch&#0032;fast&#0033; | Product Hunt"
      style="width: 250px; height: 54px"
      width="250"
      height="54"
  /></a>
</div>
