<div class="sub-header-container">
  <div class="content-container">
    <app-platform-list
      [$streamingPlatforms]="streamingPlatforms"
      ($platformListOutput)="onPlatformSelect($event)"
    ></app-platform-list>
  </div>
  <app-show-type
    ($selectShowTypeOutput)="onShowTypeSelect($event)"
  ></app-show-type>
</div>

<div class="content-container">
  <app-show-genres
    [$genres]="genres"
    ($selectGenresOutput)="onGenresSelect($event)"
  ></app-show-genres>

  @if ($areTrendingShowsLoading()) {
    <span class="loader"></span>
  } @else {
    <app-trending
      [$trendingShows]="$trendingShows()"
      [$selectedShowType]="$selectedShowType()"
    ></app-trending>
  }
  @if ($isGetShowLoading()) {
    <span class="loader find-show-btn-loader"></span>
  } @else {
    <button
      pRipple
      (click)="getShows()"
      class="find-show-btn"
      [class.show]="$selectedGenres().length > 0"
    >
      Find Top Choice <i class="bi bi-search"></i>
    </button>
  }
</div>
