.container {
  min-height: 100dvh;
  height: auto;
}

.app-container {
  background-color: var(--bg-dark);
  color: var(--font-color-primary);
}

.landing-page-container {
  background-color: var(--font-color-primary);
  color: var(--bg-dark);
}
