.header {
  background-color: var(--bg-light-red);
  color: var(--font-color-primary);
  letter-spacing: 0.1em;
  height: 7.7em;
  z-index: 4;
  position: relative;

  .header-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 1em;
    padding-bottom: 0;

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        display: flex;
        align-items: center;

        img {
          width: 3.125em;
          height: 3.125em;
          border-radius: 50%;
        }

        .span {
          font-size: 1rem;
          margin-left: 0.4em;
          color: var(--font-color-primary);
          font-weight: 600;
        }
        .wiz {
          font-size: 1rem;
          color: var(--font-color-secondary);
          font-weight: 600;
        }
      }

      .icons {
        display: flex;
        align-items: center;

        a {
          margin-left: 1.2em;
          cursor: pointer;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.1);
          }

          .bi-bookmark {
            font-size: 1.4rem;
            color: var(--font-color-primary);

            &:hover {
              color: var(--font-color-secondary);
            }
          }

          .bi-play-btn {
            font-size: 1.7rem;
            color: var(--font-color-primary);

            &:hover {
              color: var(--font-color-secondary);
            }
          }
        }
      }
    }

    h1 {
      font-size: 1.5rem;
      text-align: center;
      margin-top: 0.7em;
      font-weight: 700;
      letter-spacing: 0.5px;
    }
  }
}

@media screen and (min-width: 600px) {
  .header {
    height: 9em;

    .header-container {
      padding: 1em 2em;

      .navbar {
        .logo {
          img {
            width: 4.375em;
            height: 4.375em;
          }

          .span {
            font-size: 1.5rem;
          }
        }

        .icons {
          a {
            margin-left: 2.2em;

            .bi-bookmark {
              font-size: 2rem;
            }

            .bi-play-btn {
              font-size: 2.2rem;
            }
          }
        }
      }

      h1 {
        font-size: 1.7rem;
        margin-top: 0;
      }
    }
  }
}
