.header {
  background-color: var(--bg-light-red);
  color: var(--font-color-primary);
  letter-spacing: 0.1em;

  .header-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 1em;

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        display: flex;
        align-items: center;

        img {
          width: 3.125em;
          height: 3.125em;
          border-radius: 50%;
        }

        .app-title {
          font-size: 1rem;
          margin-left: 0.4em;
          color: var(--font-color-primary);
          font-weight: 900;
        }
        .app-title-suffix {
          font-size: 1rem;
          color: var(--font-color-secondary);
          font-weight: 900;
        }
      }

      .icons {
        display: flex;
        align-items: center;

        a {
          margin-left: 1.2em;
          cursor: pointer;
          transition: transform 0.1s ease;

          .bi-bookmark {
            font-size: 1.4rem;
          }

          .bi-play-btn {
            font-size: 1.7rem;
          }

          .bi {
            color: var(--font-color-primary);
          }
        }
      }
    }

    h1 {
      font-size: 1.5rem;
      text-align: center;
      margin: 0;
      font-weight: 600;
      letter-spacing: 0.5px;
      margin-top: 1.5rem;
    }
  }
}

@media screen and (min-width: 600px) {
  .header {
    .header-container {
      padding: 1em 2em;

      .navbar {
        .logo {
          img {
            width: 4.375em;
            height: 4.375em;
          }

          .app-title,
          .app-title-suffix {
            font-size: 1.5rem;
          }
        }

        .icons {
          a {
            margin-left: 2.2em;

            .bi-bookmark {
              font-size: 2rem;
            }

            .bi-play-btn {
              font-size: 2.2rem;
            }

            .bi {
              &:hover {
                color: var(--font-color-secondary);
              }
            }
          }
        }
      }

      h1 {
        font-size: 1.7rem;
      }
    }
  }
}
