<header class="header">
  <div class="header-container">
    <nav class="navbar">
      <div class="logo">
        <img src="../../../assets/logoo.png" alt="" />
        <span class="span">WATCH<span class="wiz">WIZ</span></span>
      </div>
      <div class="icons">
        <a href="#">
          <i class="bi bi-bookmark"></i>
        </a>
        <a href="#">
          <i class="bi bi-play-btn"></i>
        </a>
      </div>
    </nav>
    <h1>Enjoy Your Favorite Movie!</h1>
  </div>
</header>
