<header class="header">
  <div class="header-container">
    <nav class="navbar">
      <div class="logo">
        <img src="../../../assets/logo-squaree.png" alt="" />
        <span class="app-title">Movie</span>
        <span class="app-title-suffix">Picker</span>
      </div>
      <div class="icons">
        <a href="#">
          <i pRipple class="bi bi-bookmark"></i>
        </a>
        <a href="#">
          <i pRipple class="bi bi-play-btn"></i>
        </a>
      </div>
    </nav>
    <h1>Enjoy your next favorite film</h1>
  </div>
</header>
