.found-movie-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
  height: 100dvh;
  position: relative;

  #poster-image {
    width: 100%;
    height: 40%;
    object-fit: cover;
    background-color: var(--bg-dark);
    transform: scale(0.5);
    opacity: 0;
    transition: all 0.3s ease;

    &.loaded {
      transform: scale(1);
      opacity: 1;
    }
  }

  .gradient-overlay {
    padding: 1.5em 1.5em 0.9em 1.5em;
    background-color: var(--bg-dark);
    box-shadow: 0px -17px 28px 17px var(--bg-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    z-index: 1;

    .action-buttons {
      padding: 1em;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .bi-arrow-left-short {
        font-size: 2rem;
      }

      .bi-bookmark {
        font-size: 1.1rem;
      }
      .bi-bookmark-check-fill {
        font-size: 1.3rem;
      }

      button {
        padding: 0;
        width: 3.8em;
        height: 3.8em;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        color: var(--font-color-primary);
        font-family: var(--text-font);
        background: var(--light-dark);
        opacity: 0.9;

        &.login-btn {
          color: var(--font-color-secondary);
          border-radius: 10px;
          font-weight: 600;
          padding: 0 1rem;
          width: auto;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    .show-poster {
      display: none;
    }

    .show-overview {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .show-overview-left {
        h1 {
          font-size: 1.5rem;
          margin: 0;
        }
        .display-genres {
          display: flex;
          flex-wrap: wrap;
          padding: 0.7em 0;

          .genre-card {
            color: var(--very-light-gray);
            border: 1px solid var(--very-light-gray);
            border-radius: 5px;
            padding: 0.5em;
            display: flex;
            align-items: center;
            font-size: 0.8rem;
            text-align: center;
            width: fit-content;
            margin-top: 0.5rem;
            margin-right: 0.5rem;

            img {
              width: 20px;
              height: 20px;
              margin-right: 0.5rem;
            }
          }
        }
      }

      .show-overview-right {
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: fit-content;

        p.release-date {
          text-align: center;
          border: 1px solid #fff;
          border-radius: 5px;
          padding: 0.2em;
          margin: 0.5em auto;
          width: 45%;
          font-size: 0.7rem;
          background: rgba(0, 0, 0, 0.1);
        }

        button {
          font-family: var(--text-font);
          font-size: 0.7rem;
          padding: 0.9em;
          border: none;
          border-radius: 10px;
          cursor: pointer;

          &.already-watched {
            background: var(--light-dark);
            color: var(--font-color-primary);
          }

          &.watched-it {
            background-color: var(--font-color-secondary);
            color: #333;
            font-weight: 700;
          }
        }

        .login-btn {
          margin-top: auto;
          color: var(--font-color-secondary);
          font-weight: 600;
          text-decoration: underline;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }
        }

        p.rating {
          font-size: 0.8rem;
          color: var(--font-color-secondary);
          text-wrap: nowrap;

          .span-vote-count {
            font-size: 0.7rem;
            color: var(--very-light-gray);
            margin-left: 5px;
          }
        }
      }
    }

    .show-description-box {
      margin: 1rem 0;
      margin-bottom: 2rem;
      max-height: 180px;
      overflow-y: auto;

      .show-description {
        margin: 0.5em 0;
        color: var(--very-light-gray);
        margin-right: 0.3rem;
        display: inline;
      }
    }

    .choose-btn {
      display: flex;

      margin-top: auto;

      button {
        font-size: 1rem;
        font-family: var(--text-font);
        background: var(--red-gradient);
        border: 1px solid var(--bg-light-red);
        border-radius: 5px;
        padding: 1em 2em;
        cursor: pointer;
        display: block;
        align-items: center;
        line-height: 1;
        color: var(--font-color-primary);
        font-weight: 600;

        .bi-arrow-left-circle {
          margin-right: 0.5em;
        }

        .bi-arrow-right-circle {
          margin-left: 0.5em;
        }

        &.next {
          margin-left: auto;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .found-movie-page {
    #poster-image {
      height: 55%;
    }

    .gradient-overlay {
      height: 55%;

      .show-overview {
        width: 100%;
        max-width: 100%;
        margin: 1rem auto;
      }

      .show-description-box {
        width: 80%;
        max-width: 80%;
        margin: 1rem auto;
      }

      .choose-btn {
        width: 100%;
        max-width: 100%;
        margin: auto;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .found-movie-page {
    position: unset;
    min-height: 100dvh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    position: relative;

    #poster-image {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }

    .gradient-overlay {
      box-shadow: 0px 0px 25px 9px #000;
      background-color: unset;
      position: relative;
      margin-top: 87px;

      width: 50%;
      max-width: 50%;
      border-radius: 18px;
      height: auto;
      padding-top: 5rem;

      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 18px;
        background-color: var(--bg-dark);
        opacity: 0.7;
        z-index: -1;
      }

      .action-buttons {
        button.back-btn,
        button.bookmark-btn {
          opacity: 1;

          &:hover {
            opacity: 0.9;
          }
        }
      }

      .show-overview {
        .show-overview-left {
          h1 {
            font-size: 3rem;
          }
          .display-genres {
            align-items: flex-end;
            padding: 0;
            .genre-card {
              color: #fff;
              font-weight: 600;
            }
          }
        }

        .show-overview-right {
          margin-right: 1em;

          button {
            font-size: 0.9rem;
            padding: 0.9em;
            text-wrap: nowrap;
            margin-top: auto;

            &:hover {
              opacity: 0.9;
            }
          }

          .rating {
            font-size: 0.8rem;

            .span-vote-count {
              font-size: 0.7rem;
            }
          }
        }
      }

      .show-description-box {
        width: 80%;
        max-height: 260px;

        .show-description {
          font-size: 1.2rem;
          margin: 0 auto;
          color: #fff;
        }
      }

      .choose-btn {
        width: 80%;
        max-width: 80%;
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-bottom: 0;
        margin: 3rem auto;

        button {
          width: 40%;

          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }
}
