@if ($selectedShow()) {
  <div class="found-movie-page">
    <div class="action-buttons">
      <button class="back-btn" [routerLink]="['/']">
        <i class="bi bi-arrow-left-short"></i>
      </button>
      <button class="bookmark-btn"><i class="bi bi-bookmark"></i></button>
    </div>

    <img
      id="poster-image"
      [src]="imgBaseUrl + $selectedShow()?.backdrop_path"
      alt="poster"
    />

    <div class="gradient-overlay">
      <div class="grid">
        <h1>{{ $selectedShow()?.title }}</h1>

        <div class="display-genres">
          <button>😎Action</button>
          <button>🏹Adventure</button>
        </div>

        <div class="already-seen">
          <p class="rating">TMDb rating</p>
          <p class="rating">
            <span class="span-rating">{{
              $selectedShow()?.vote_average?.toFixed(1)
            }}</span
            >/10
            <span class="span-vote-count"
              ><i class="bi bi-people"></i>
              {{ $selectedShow()?.vote_count }}</span
            >
          </p>
          <button class="watched">
            <i class="bi bi-check2-all"></i> Watched
          </button>
        </div>
      </div>

      <p class="overview-description">{{ $selectedShow()?.overview }}</p>
    </div>

    <div class="choose-btn">
      <button class="previous">
        <i class="bi bi-arrow-left-circle"></i> Prev
      </button>
      <button class="next">
        Next <i class="bi bi-arrow-right-circle"></i>
      </button>
    </div>
  </div>
}
