@if ($selectedShow()) {
  <div class="found-movie-page">
    <div class="action-buttons">
      <button pRipple class="back-btn" [routerLink]="['/']">
        <i class="bi bi-arrow-left-short"></i>
      </button>
      <button pRipple class="bookmark-btn">
        <i class="bi bi-bookmark"></i>
      </button>
    </div>

    <img
      id="poster-image"
      [src]="imgBaseUrl + $selectedShow()?.backdrop_path"
      alt="poster"
    />

    <div class="gradient-overlay">
      <div class="show-overview">
        <div class="show-overview-left">
          <h1>{{ $selectedShow()?.title || $selectedShow()?.name }}</h1>

          <div class="display-genres">
            @for (genre of $showGenres(); track genre.id) {
              <div class="genre-card">
                <img
                  [src]="'../../../assets/icons/' + genre.icon_path"
                  alt="genre image"
                />
                <span>{{ genre.name }}</span>
              </div>
            }
          </div>
        </div>

        <div class="show-overview-right">
          <div class="show-rating">
            <p class="rating">TMDb rating</p>

            <p class="rating">
              <span class="span-rating">{{
                $selectedShow()?.vote_average?.toFixed(1)
              }}</span
              >/10
              <span class="span-vote-count"
                ><i class="bi bi-people"></i>
                {{ $selectedShow()?.vote_count }}</span
              >
            </p>
          </div>

          @if ($isWatched()) {
            <button pRipple class="already-watched" (click)="toggleWatched()">
              <i class="bi bi-check2-all"></i> Watched
            </button>
          } @else {
            <button pRipple class="watched-it" (click)="toggleWatched()">
              Watched ?
            </button>
          }
        </div>
      </div>

      <div class="show-description-box">
        <span class="show-description" appReadMore [maxLength]="350">
          {{ $selectedShow()?.overview }}
        </span>
      </div>
    </div>

    <div class="choose-btn">
      <button pRipple class="previous">
        <i class="bi bi-arrow-left-circle"></i> Prev
      </button>
      <button pRipple class="next">
        Next <i class="bi bi-arrow-right-circle"></i>
      </button>
    </div>
  </div>
}
