<section class="hero">
  <main class="main-hero">
    <div class="hero-title">
      <span class="title-span">Discover Your Next </span>
      <span class="title-span suffix">Favorite Movie</span>
    </div>

    <div class="hero-description">
      <p>
        Tired of endlessly scrolling through streaming services trying to find
        something cool to watch?
      </p>
      <p>
        <span class="emoji">🔥 </span> Let us simplify your decision-making
        process.
      </p>
    </div>

    <button pRipple routerLink="/app" class="get-started">
      Get Started for FREE
    </button>
  </main>

  <aside class="aside-hero">
    <img src="../../../assets/images/phone-lp.png" alt="" />
  </aside>
</section>
