section.hero {
  display: flex;
  align-items: center;

  .aside-hero {
    width: 40%;

    img {
      border-radius: 80px;
      width: 65%;
      margin-top: 2.5rem;
      /* box-shadow: 5px 5px 10px 1px #000000; */
    }
  }

  .main-hero {
    width: 60%;
    padding: 0 9rem;

    .hero-title {
      display: flex;
      flex-direction: column;
      font-weight: 800;
      padding-bottom: 1rem;

      .title-span {
        font-size: 4rem;

        &.suffix {
          /* color: var(--font-color-secondary); */
          background-image: var(--yellow-gradient);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    .hero-description {
      p {
        line-height: 1.5;
        font-size: 1.3rem;
        color: var(--light-dark);
        width: 90%;

        span.emoji {
          font-size: 2rem;
        }
      }
    }

    button.get-started {
      padding: 1.2rem 2.8rem;
      font-size: 1.1rem;
      font-weight: 600;
      background-color: var(--bg-black);
      border: none;
      border-radius: 16px;

      &:hover {
        cursor: pointer;
        -webkit-animation: pulse 2s infinite;
        animation: pulse512 1.5s infinite;
      }
    }
  }
}
@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 var(--bg-black);
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}
