<app-navbar></app-navbar>
<app-hero></app-hero>

<div class="content-container">
  <a
    class="ph-embed"
    href="https://www.producthunt.com/posts/movie-picker?embed=true&utm_source=badge-featured&utm_medium=badge&utm_souce=badge-movie&#0045;picker"
    target="_blank"
    ><img
      src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=468091&theme=light"
      alt="Movie&#0032;Picker - Find&#0032;a&#0032;movie&#0032;to&#0032;watch&#0032;fast&#0033; | Product Hunt"
      style="width: 250px; height: 54px"
      width="250"
      height="54"
  /></a>

  <app-how-it-works></app-how-it-works>

  <app-testimonials></app-testimonials>

  <app-team></app-team>

  <app-questions></app-questions>
</div>

<app-footer></app-footer>
