<section class="testimonials">
  <h1 class="testimonials-title">Here's what our users have to say.</h1>
  <p class="testimonials-subtitle">Read real stories</p>
  <div class="cards">
    <div class="columns">
      <div class="card">
        <div class="heading">
          <img src="../../../assets/images/x_coding.jpg" alt="profileImg" />
          <div class="person-name">
            <span class="name">x_Coding</span>
            <p class="id">{{ "@" }}MrxCoding</p>
          </div>
        </div>
        <span class="maintxt"
          >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis
          maxime ex eos accusamus architecto aliquam!</span
        >
      </div>

      <div class="card">
        <div class="heading">
          <img src="../../../assets/images/venus.jpg" alt="profileImg" />
          <div class="person-name">
            <span class="name">Venus</span>
            <p class="id">{{ "@" }}venusbhatia</p>
          </div>
        </div>
        <span class="maintxt"
          >"Thanks for giving the opportunity be an early tester..You and Mihai
          have put great efforts in making this and it's visible in it!UI is
          pretty smooth even though being on web. I liked it so much. Loved the
          carousel on the home screen so much btw, so much that I want to learn
          how to implement in an iOS app!"</span
        >
      </div>

      <div class="card">
        <div class="heading">
          <img src="../../../assets/images/Harun.jpg" alt="profileImg" />
          <div class="person-name">
            <span class="name">Harun</span>
            <p class="id">{{ "@" }}haruncodes</p>
          </div>
        </div>
        <span class="maintxt"
          >"On mobile that animation is amazing!! It's perfect. Keep at it! I
          wanna use it when its ready"</span
        >
      </div>
    </div>

    <div class="columns">
      <div class="card">
        <div class="heading">
          <img src="../../../assets/images/Dev.jpg" alt="profileImg" />
          <div class="person-name">
            <span class="name">DevHQ</span>
            <p class="id">{{ "@" }}codezonn</p>
          </div>
        </div>
        <span class="maintxt"
          >"You did an excellent work , the background of each movie and the
          little summary writen about each movies, the transition from a movie
          to another , gave me the desire to start watching them
          immediatley.Another thing i love about it is that the search algorithm
          doesn't take too much time to load the requested movies.i find the app
          super attractive, easy to use for a first user and a big kudos for the
          quick. can't wait to see the finaly version of the app and i would be
          glad to be the first user!"</span
        >
      </div>

      <div class="card">
        <div class="heading">
          <img src="../../../assets/images/Krish.jpg" alt="profileImg" />
          <div class="person-name">
            <span class="name">Krish</span>
            <p class="id">{{ "@" }}krishfromasap</p>
          </div>
        </div>
        <span class="maintxt"
          >"Seems like your hard work will pay off. I really like it.I am always
          confused with what movie to watch on Netflix hahaha so this is a life
          saver and I find it really helpful that you can combine more than one
          genre to find a movie"</span
        >
      </div>
    </div>

    <div class="columns">
      <div class="card">
        <div class="heading">
          <img src="../../../assets/images/Arjun.jpg" alt="profileImg" />
          <div class="person-name">
            <span class="name">Arjun Rathod</span>
            <p class="id">{{ "@" }}ArjunRa87193765</p>
          </div>
        </div>
        <span class="maintxt"
          >"Hey the UI looks great and catchy.Making a movie picker was a good
          idea and your implimentation looks cool.Can't wait for final
          product!"</span
        >
      </div>

      <div class="card">
        <div class="heading">
          <img src="../../../assets/images/Harun.jpg" alt="profileImg" />
          <div class="person-name">
            <span class="name">Harun</span>
            <p class="id">{{ "@" }}haruncodes</p>
          </div>
        </div>
        <span class="maintxt"
          >"On mobile that animation is amazing!! It's perfect. Keep at it! I
          wanna use it when its ready"</span
        >
      </div>

      <div class="card">
        <div class="heading">
          <img src="../../../assets/images/venus.jpg" alt="profileImg" />
          <div class="person-name">
            <span class="name">Venus</span>
            <p class="id">{{ "@" }}venusbhatia</p>
          </div>
        </div>
        <span class="maintxt"
          >"Thanks for giving the opportunity be an early tester..You and Mihai
          have put great efforts in making this and it's visible in it!UI is
          pretty smooth even though being on web. I liked it so much. Loved the
          carousel on the home screen so much btw, so much that I want to learn
          how to implement in an iOS app!"</span
        >
      </div>
    </div>
  </div>
</section>
