.testimonials {
  margin-top: 5rem;
  h1.testimonials-title {
    text-align: center;
    font-size: 3.75rem;
    margin-bottom: 0;
  }

  p.testimonials-subtitle {
    text-align: center;
    color: var(--dark-gray);
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .cards {
    display: flex;
    flex-wrap: nowrap;
    padding: 5rem;
    gap: 1.25rem;
    height: min-content;
    align-items: flex-start;
    justify-content: center;

    .columns {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      height: auto;
      width: 23%;
      gap: 1.25rem;
    }

    .card {
      background-color: #fff;
      padding: 2rem;
      height: auto;
      border-radius: 20px;
      box-shadow:
        0 0.7961918735236395px 2.3885756205709185px -0.625px #0000000d,
        0 2.414506143104518px 7.2435184293135535px -1.25px #0000000d,
        0 6.382653521484461px 19.147960564453385px -1.875px #0000000d,
        0 20px 60px -2.5px #0000000d;
      transition: transform 0.1s ease;

      .heading {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        margin-bottom: 1rem;

        img {
          width: 3.125rem;
          height: 3.125rem;
          border-radius: 50%;
        }

        .person-name {
          .name {
            font-weight: 600;
          }
          p.id {
            margin: 0.3rem 0;
            color: var(--dark-gray);
            font-size: 0.8rem;
          }
        }
      }

      &:hover {
        transform: scale(1.01);
      }
    }
  }
}
