.navbar-lp {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: transparent;
  width: 100%;

  .nav-content {
    max-width: 1500px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .logo-lp {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 2rem;
    a {
      text-decoration: none;
    }

    img {
      width: 3.125rem;
      height: 3.125rem;
      border-radius: 50%;
    }

    .app-title-lp {
      font-size: 1.2rem;
      margin-left: 0.4rem;
      color: var(--font-color-primary);
      font-weight: 700;
      letter-spacing: 0.1rem;
    }
    .app-title-suffix-lp {
      font-size: 1rem;
      color: var(--font-color-primary);
      font-weight: 700;
      letter-spacing: 0.1rem;
    }
  }

  .mobile-nav {
    display: none;
  }

  .navbar-links-lp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 1.8rem;

    a.navbar-link-lp {
      text-decoration: none;
      color: var(--font-color-primary);
      font-weight: 600;
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;

      &:hover {
        color: var(--font-color-secondary);
      }

      &.navbar-link-lp-right {
        border: none;
        border-radius: 6px;
        color: var(--bg-light-red);
        background: var(--font-color-primary);
        padding: 9px 32px 9px 32px;

        &:hover {
          -webkit-animation: pulse 2s infinite;
          animation: pulse512 1.5s infinite;
        }
      }
    }
  }
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 var(--font-color-secondary);
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

@media screen and (max-width: 1024px) {
  .navbar-lp {
    .logo-lp {
      padding-left: 0;

      img {
        width: 2.9rem;
        height: 2.9rem;
      }
    }

    .navbar-links-lp {
      display: none;
    }

    .mobile-nav {
      position: relative;
      z-index: 7;
      padding: 0;
      display: block;

      .checkbox {
        padding: 0;
        display: block;
        height: 32px;
        width: 32px;
        z-index: 5;
        position: absolute;
        top: -3px;
        right: -1px;
        cursor: pointer;
        opacity: 0;
      }

      .hamburger {
        display: block;
        padding: 0;
        height: 26px;
        width: 32px;
        z-index: 2;
        border: none;
        background-color: transparent;

        .line {
          display: block;
          height: 3px;
          width: 100%;
          border-radius: 10px;
          background: var(--bg-black);
        }

        .line1 {
          transform-origin: 0% 0%;
          transition: transform 0.2s ease-in-out;
        }

        .line2 {
          margin: 0.5rem 0;
          transition: transform 0.1s ease-in-out;
        }

        .line3 {
          transform-origin: 0% 100%;
          transition: transform 0.2s ease-in-out;
        }
      }

      input[type="checkbox"]:checked ~ .nav-links {
        display: flex;
      }

      input[type="checkbox"]:checked ~ .hamburger .line1 {
        transform: rotate(45deg);
        width: 100%;
        margin-left: 1px;
      }

      input[type="checkbox"]:checked ~ .hamburger .line2 {
        transform: scaleY(0);
      }

      input[type="checkbox"]:checked ~ .hamburger .line3 {
        transform: rotate(-45deg);
        width: 100%;
        margin-left: 1px;
      }

      .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--light-dark);
        border-radius: 10px;
        padding: 1rem 1.8rem;
        position: absolute;
        top: 35px;
        right: 0;
        z-index: 5;
        text-align: center;

        .navbar-link-lp {
          color: var(--font-color-primary);
          text-decoration: none;
          font-weight: 600;
          font-size: 0.9rem;
          text-wrap: nowrap;
          margin: 0.5rem 0;
        }
      }
    }
  }
}
