.navbar-lp {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: var(--font-color-primary);
  border-bottom: 1px solid var(--very-light-gray);

  .nav-content {
    max-width: 1500px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .logo-lp {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 2rem;

    img {
      width: 3.125rem;
      height: 3.125rem;
      border-radius: 50%;
    }

    .app-title-lp {
      font-size: 1.2rem;
      margin-left: 0.4rem;
      color: #000;
      font-weight: 900;
    }
    .app-title-suffix-lp {
      font-size: 1rem;
      color: var(--font-color-secondary);
      font-weight: 900;
    }
  }

  .navbar-links-lp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 1.8rem;

    a.navbar-link-lp {
      text-decoration: none;
      color: var(--dark-gray);
      font-weight: 600;
      font-size: 0.9rem;
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;

      &:hover {
        color: var(--font-color-secondary);
      }

      &.navbar-link-lp-right {
        border: none;
        border-radius: 20px;
        color: var(--bg-black);
        background: var(--font-color-secondary);

        &:hover {
          -webkit-animation: pulse 2s infinite;
          animation: pulse512 1.5s infinite;
        }
      }
    }
  }
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 var(--font-color-secondary);
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}
