<nav class="navbar-lp">
  <div class="nav-content">
    <div class="logo-lp">
      <img src="../../../assets/logo-squaree.png" alt="movie picker logo" />
      <span class="app-title-lp">Movie</span>
      <span class="app-title-suffix-lp">Picker</span>
    </div>

    <div class="navbar-links-lp">
      <a href="#how-it-works" class="navbar-link-lp">How It Works</a>
      <a href="#testimonials" class="navbar-link-lp">Testimonials</a>
      <a href="#faqs" class="navbar-link-lp">FAQs</a>
      <a href="#team" class="navbar-link-lp">Team</a>
    </div>

    <div class="navbar-links-lp">
      <a
        pRipple
        routerLink="/app/login"
        class="navbar-link-lp navbar-link-lp-right"
        >Sign up</a
      >
    </div>
  </div>
</nav>
