<section class="questions-section" id="faqs">
  <h2 class="question">Do you still have questions?</h2>
  <p class="subtitle">
    Ask us <a routerLink="/app/contact" class="ask-link">here</a> or see common
    questions 👇
  </p>
  <div class="card flex justify-content-center">
    <p-accordion class="landing-page-accordion">
      <p-accordionTab header="What is Movie Picker?">
        <p>
          Movie Picker is an app that helps you choose movies on your favorite
          streaming platform based on your preferences and mood.
        </p>
      </p-accordionTab>
      <p-accordionTab header="Is Movie Picker free to use?">
        <p>
          Yes, the app is completely free to use. You can sign up for free to
          unlock all the features and start using it right away.
        </p>
      </p-accordionTab>
      <p-accordionTab header="Do I need to create an account?">
        <p>
          No account is necessary to use the app. However, creating one unlocks
          additional features.
        </p>
      </p-accordionTab>

      <p-accordionTab
        header="How does Movie Picker choose which movies to suggest?"
      >
        <p>
          Movie Picker generates suggestions based on a combination of vote
          count and average vote ratings from The Movie Database (TMDb). This
          ensures that you receive recommendations that are both highly rated
          and widely popular, giving you the best possible matches.
        </p>
      </p-accordionTab>

      <p-accordionTab header="Is there a mobile version of Movie Picker?">
        <p>The app is mobile friendly and can be easly used on all devices.</p>
      </p-accordionTab>

      <p-accordionTab header="Can you watch the movies on the platform?">
        <p>
          No, you can't watch full movies on the platform, the purpose of the
          app is to help you choose a movie in seconds to watch on your favorite
          streaming platform.
        </p>
      </p-accordionTab>

      <p-accordionTab header="Where do you get the movies from?">
        <p>
          We get the movies from the TMDb API, which is a free API that provides
          information about movies and TV shows.
        </p>
      </p-accordionTab>

      <p-accordionTab header="Who can I contact for support?">
        <p>
          For support, you can contact us
          <a routerLink="/app/contact">here</a> or on <br />
          Twitter:
          <br />
          <a href="https://x.com/MihaiSava98" target="_blank">{{
            "@MihaiSava98"
          }}</a>
          <br />
          <a href="https://x.com/AndreeaFarcas98" target="_blank">{{
            "@AndreeaFarcas98"
          }}</a>
        </p>
      </p-accordionTab>
    </p-accordion>
  </div>
</section>
