/* You can add global styles to this file, and also import other style files */
@import "./theme/variables.css";
@import "./theme/primeng-clases.css";

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: #fff;
  margin: 0;
  padding: 0;
}
