<div class="tab-view">
  <p-tabView
    [activeIndex]="$activeIndex()"
    (activeIndexChange)="changeTabIndex($event)"
  >
    <p-tabPanel header="Watchlist" class="content-container">
      <app-watchlist></app-watchlist>
    </p-tabPanel>
    <p-tabPanel header="Watched" class="content-container">
      @defer (on viewport) {
        <app-watched-shows></app-watched-shows>
      } @placeholder {
        <span class="loader"></span>
      }
    </p-tabPanel>
    <p-tabPanel header="Liked" class="content-container">
      <p>At vero eos et accusamus et iusto odio dignissimos...</p>
    </p-tabPanel>
  </p-tabView>
</div>
