.p-multiselect {
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border-color: var(--font-color-primary);
  border-radius: 8px;

  .p-multiselect-label {
    color: var(--font-color-primary);
    font-size: 0.9rem;
    padding-left: 1.2em;
    color: var(--font-color-primary);
  }

  .p-multiselect-trigger {
    color: var(--font-color-primary);
  }

  .p-multiselect-header {
    display: none;
  }
}
