.content-container {
  max-width: 1500px;
  display: block;
  margin: 0 auto;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  position: relative;
  border: 10px solid;
  border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25)
    rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.read-more-btn {
  width: fit-content;
  display: inline-block;
  border: none;
  background-color: transparent;
  font-family: var(--text-font);
  color: var(--font-color-primary);
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .read-more-btn {
    &:hover {
      opacity: 0.8;
    }
  }
}

.dots-loader {
  width: 78px;
  height: 12px;
  background: radial-gradient(
      circle 6px at 6px center,
      #fff 100%,
      transparent 0
    ),
    radial-gradient(circle 6px at 6px center, #fff 100%, transparent 0);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  position: relative;
  animation: ballX 1s linear infinite;
}
.dots-loader:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  inset: 0;
  margin: auto;
  animation: moveX 1s cubic-bezier(0.5, 300, 0.5, -300) infinite;
}
@keyframes ballX {
  0%,
  25%,
  50%,
  75%,
  100% {
    background-position:
      25% 0,
      75% 0;
  }
  40% {
    background-position:
      25% 0,
      85% 0;
  }
  90% {
    background-position:
      15% 0,
      75% 0;
  }
}
@keyframes moveX {
  100% {
    transform: translate(0.15px);
  }
}
