:root {
  --bg-black: #000;
  --bg-dark: #131a24;
  --light-dark: #323031;
  --bg-red: #a31c2e;
  --bg-light-red: #e12939;
  --red-gradient: linear-gradient(
    to bottom right,
    var(--bg-light-red),
    var(--bg-red)
  );
  --yellow-gradient: linear-gradient(60deg, #ffc100, #e12939);

  --app-blue: #2c4e80;
  --app-green: #97be5a;
  --font-color-primary: #f8f9fa;
  --font-color-secondary: #ffc100;
  --very-light-gray: #ece6e6;
  --light-gray: #a5a4a4e7;
  --dark-gray: #777777e7;
  --text-font: "Raleway", sans-serif;

  --swiper-pagination-top: 100%;
  --swiper-pagination-bullet-inactive-color: var(--font-color-primary);
  --swiper-pagination-color: var(--bg-light-red);
}
